
/* @Content CWS Result57 */
/* @Author shibata_ts */

div#div_prize_wrap {
	margin: auto;
	display: -webkit-box;
	display: -moz-box;
	display: box;
}

div.div_prize_result {
	margin:5px;
}

table.tbl_prize_result {
	border: 1px solid #cccccc;
	border-collapse: collapse;
	margin: auto;
}

table.tbl_prize_result th, td {
	border: 1px solid #cccccc;
	padding: 2px 7px;
}



