
/* @Content CWS Result57 */
/* @Author shibata_ts */

table#tbl_create_user {
	border: 1px solid #cccccc;
	border-collapse: collapse;
	margin: auto;
}

table#tbl_create_user th, td {
	border: 1px solid #cccccc;
	padding: 2px 7px;
}



