
/* @Content CWS Result57 */
/* @Author shibata_ts */

table#tbl_vote_progress {
	border: 1px solid #cccccc;
	border-collapse: collapse;
	margin: auto;
}

table#tbl_vote_progress th, td {
	border: 1px solid #cccccc;
	padding: 2px 7px;
}

table#tbl_vote_progress th {
	background-color: #e0e0ff;
}

table#tbl_vote_progress tr:nth-child(odd) td {
	background-color: #f0f0f6;
}

