
/* @Content CWS Result57 */
/* @Author shibata_ts */

main {
	height:430px;
}

div#div_login  {
	border:1px solid #cccccc;
	margin:100px auto 0 auto;
	width:300px;
	padding:30px;
}

div.div_box {
	margin-top:5px;
	display: -webkit-box;
	display: -moz-box;
	display: box;
}

div.div_title {
	width:120px;
	padding-top:5px;
}

div.div_content {
}

input#input_btn_login {
	margin:30px;
	width:150px;
	height:30px;
}


