
/* @Content CWS Result57 */
/* @Author shibata_ts */

main {
	text-align:left;
	font-size:20px;
}

div.div_title {
	font-weight:bold;
}

/*--////////////////////////////////////////////////////////////////////////////////////////////////////////////////--*/

