
/* @Content CWS Result57 */
/* @Author shibata_ts */

body {
	text-align:center;
	color:#336699;
}

a {
	color:#336699;
	font-weight:bold;
}

div.div_redmsg {
	margin:10px 0 0 0;
	color:#ff3366;
}

div.div_margin_10px {
	height:10px;
}

