
/* @Content CWS Result57 */
/* @Author shibata_ts */

body {
	padding: 7px;
}

/*--// Table ///////////////////////////////////////////////////////////////////////////////////////////////////////--*/
table.csd_table {
	border-collapse: collapse;
	margin: auto;
}

table.csd_table th, td {
	border: 1px solid #cccccc;
	padding: 2px 10px;
}


/*--// Input ///////////////////////////////////////////////////////////////////////////////////////////////////////--*/
input {
	font-size: 20px;
}

input[type="text"] {
	width: 98%;
	margin-right:5px;
	margin-bottom:10px;
	height: 32px;
}

input[type="password"] {
	width: 98%;
	margin-bottom:10px;
	height: 32px;
}

input[type="submit"] {
	width: 98%;
	margin-top:20px;
	height: 42px;
}

/*--////////////////////////////////////////////////////////////////////////////////////////////////////////////////--*/

