
/* @Content CWS Result57 */
/* @Author shibata_ts */

div#div_vote_result {
	border: 1px solid #cccccc;
	margin: auto;
	padding-bottom: 20px;
	width: 98%;
}

/*--////////////////////////////////////////////////////////////////////////////////////////////////////////////////--*/

