
/* @Content CWS Result57 */
/* @Author shibata_ts */

div#div_vote_result {
	border: 1px solid #cccccc;
	margin: auto;
	padding: 20px 0px;
	width: 300px;
}

table#tbl_vote_result {
	margin: auto;
	border-collapse: collapse;
}

table#tbl_vote_result th, td {
	border: 1px solid #cccccc;
	padding: 2px 10px;
}


