
/* @Content CWS Result57 */
/* @Author shibata_ts */

div.div_point_wrap {
	text-align: left;
	font-weight: bold;
}

div#div_msg {
	margin:10px 0 10px 0;
	color:#ff3366;
}

/*--// Select //////////////////////////////////////////////////////////////////////////////////////////////////////--*/
select {
	width: 98%;
	height: 32px;
	margin-bottom: 10px;
}

/*--// Input ///////////////////////////////////////////////////////////////////////////////////////////////////////--*/
input {
	width: 98%;
	font-size: 20px;
}

input[type="text"] {
	margin-bottom:10px;
	height: 32px;
}

input[type="submit"] {
	margin-top:20px;
	height: 42px;
}

/*--// Radio ///////////////////////////////////////////////////////////////////////////////////////////////////////--*/
div#div_sort_condition {
	margin: 20px auto 0px auto;
}

input[type=radio] {
	display:none;
}

label {
	cursor:pointer;
	padding: 3px 7px;
	border-radius: 10px;
	font-weight:bold;
}

/*--////////////////////////////////////////////////////////////////////////////////////////////////////////////////--*/


