
/* @Content CWS Result57 */
/* @Author shibata_ts */

div#div_vote_wrap {
	margin:auto;
	width:320px;
}

div.div_point_wrap {
	border: 1px solid #cccccc;
	width: 300px;
	margin: auto;
	padding: 4px 10px;
	display: -webkit-box;
	display: -moz-box;
	display: box;
}

div.div_point_title {
	width:150px;
	padding-top: 5px;
}

div#div_sort_condition {
	margin: 20px auto 0px auto;
}

input#input_btn_vote {
	margin:30px;
	width:150px;
	height:30px;
}

input[type=radio] {
	display:none;
}

label {
	cursor:pointer;
	padding: 3px 7px;
	border-radius: 10px;
	font-weight:bold;
}

